<!DOCTYPE html>
<html>
    <body>
        <form action="/calculate.html" method="POST"> <!--this needs to change to the output file-->

                <!-- Question 1 -->
            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                <div class="w3-half">
                <label for="answer1">Where should the charity be active?</label>
                <select id="answer1" class="w3-select w3-border">
                    <option value="Africa">Africa</option>
                    <option value="Asia">Asia</option>
                    <option value="Australia & Oceania">Australia & Oceania</option>
                    <option value="Europe">Europe</option>
                    <option value="North America">North America</option>
                    <option value="South America">South America</option>
                </select>
                </div>
                <input type="submit" value="Calculate"> <!--this is the submit button-->
            </div>
            
        </form>
    </body>
</html>


